ion-content{
    color: white;
    --ion-background-color: #046E9E;
}
ion-toolbar{
    color: white;
    --ion-background-color: #98E01A;
    text-align: center;
}

ion-item{
    color: white;
    --ion-background-color: #3CBBC6;
}
.centerDude{
    text-align: center;
}
