<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Start Your Challenge</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>Do 25 {{data.exChose}} in 5 minutes</ion-item>
</ion-content>

<ion-content>
  <mbsc-form>
      <mbsc-form-group>
          <mbsc-form-group-title>Challenge Timer</mbsc-form-group-title>
          <div [(ngModel)]="timer" mbsc-timer [mbsc-options]="timerSettings"></div>
      </mbsc-form-group>
  </mbsc-form>
</ion-content>


